<div class="">
	<div class="row d-flex justify-content-center m-0">
		<mat-card class="col-sm-12 col-md-6 col-lg-4 vc-box-shadow m-1">
			<mat-card-header class="text-center">
				<mat-card-title>
					<h2 translate>LABEL_RESET_PASSWORD</h2>
				</mat-card-title>
				<mat-card-subtitle>
					<mat-hint *ngIf="successMessage">{{ successMessage }}</mat-hint>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<form class="" #form="ngForm">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label><span translate>LABEL_NEW_PASSWORD</span></mat-label>
						<input matInput
						type="password"
						#newPassword="ngModel"
						[(ngModel)]="resetPwdForm['newPassword']"
						name="newPassword"
						placeholder="{{ 'PLACEHOLDER_NEW_PASSWORD' | translate }}"
						[disabled]="isLoading"
						minlength="8"
						required />
					</mat-form-field>
					<mat-form-field appearance="outline" class="w-100">
						<mat-label><span translate>LABEL_CONFIRM_PASSWORD</span></mat-label>
						<input matInput
						type="password"
						#confirmPassword="ngModel"
						[(ngModel)]="resetPwdForm['confirmPassword']"
						name="confirmPassword"
						placeholder="{{ 'PLACEHOLDER_CONFIRM_PASSWORD' | translate }}"
						[disabled]="isLoading"
						minlength="8"
						(keyup)="validatePassword()"
						required />
					</mat-form-field>
					<mat-error *ngIf="(resetPwdForm.confirmPassword && resetPwdForm.newPassword) && !isPasswordSame">
						<span translate>INFO_PASSWORD_MISMATCH</span>
					</mat-error>
				</form>
				<mat-card-subtitle class="text-center">
					<mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
				</mat-card-subtitle>
				<mat-card-actions>
					<button
						mat-raised-button
						color="primary"
						(click)="resetPassword()"
						[disabled]="!form.valid || isLoading"
						>
						<span translate>LABEL_UPDATE</span>
					</button>
				</mat-card-actions>
			</mat-card-content>

			<mat-card-content>
				<div class="row">
					<div class="col-sm-6">
						<span class="pr-1" translate>LABEL_NO_ACCOUNT</span> <a href="javascript:void(0)" routerLink="/register" translate>LABEL_SIGN_UP</a>
					</div>
					<div class="col-sm-6 text-right">
						<a href="javascript:void(0)" routerLink="/forgot-password" translate>LABEL_FORGOT_PASSWORD</a>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
