<div class="container section">
	<h2 class="vc-page-title" translate>LABEL_CHANGE_PASSWORD</h2>

	<mat-card class="vc-box-shadow pt-3">
		<mat-card-content class="mt-3">
			<form #updatePasswordForm="ngForm">
				<vc-loader *ngIf="isLoading"></vc-loader>

				<mat-form-field appearance="outline" class="w-100">
					<mat-label>
						<span translate>LABEL_CURRENT_PASSWORD</span>
					</mat-label>
					<input
						matInput
						type="password"
						[(ngModel)]="passwordObj.currentPassword"
						#currentPassword="ngModel"
						name="currentPassword"
						placeholder="{{ 'PLACEHOLDER_PASSWORD' | translate }}"
						[disabled]="isLoading"
						minlength="8"
						required
					/>
				</mat-form-field>

				<mat-form-field appearance="outline" class="w-100">
					<mat-label>
						<span translate>LABEL_NEW_PASSWORD</span>
					</mat-label>
					<input
						matInput
						type="password"
						[(ngModel)]="passwordObj.newPassword"
						#newPassword="ngModel"
						name="newPassword"
						placeholder="{{ 'PLACEHOLDER_PASSWORD' | translate }}"
						[disabled]="isLoading"
						minlength="8"
						required
					/>
				</mat-form-field>

				<mat-form-field appearance="outline" class="w-100">
					<mat-label>
						<span translate>LABEL_CONFIRM_PASSWORD</span>
					</mat-label>
					<input
						matInput
						type="password"
						[(ngModel)]="passwordObj.confirmPassword"
						#confirmPassword="ngModel"
						name="confirmPassword"
						placeholder="{{ 'PLACEHOLDER_PASSWORD' | translate }}"
						[disabled]="isLoading"
						minlength="8"
						(keyup)="validatePassword()"
						required
					/>
				</mat-form-field>
				<mat-error *ngIf="(passwordObj.confirmPassword && passwordObj.newPassword) && !isPasswordSame">
					<span translate>INFO_PASSWORD_MISMATCH</span>
				</mat-error>
			</form>
		</mat-card-content>

		<mat-card-subtitle class="text-center">
			<mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
		</mat-card-subtitle>
		<mat-card-actions>
			<button
				mat-raised-button
				color="primary"
				[disabled]="isLoading || !updatePasswordForm.valid || !isPasswordSame"
				(click)="updatePassword()"
			>
			<span translate>LABEL_UPDATE</span>
		</button>
		</mat-card-actions>
	</mat-card>
</div>
