<div class="row">
	<div class="container section col-8 m-auto">
		<h2 class="vc-page-title" translate>LABEL_UPDATE_PROFILE</h2>

		<mat-card class="vc-box-shadow">
			<vc-loader *ngIf="isLoading"></vc-loader>
			<mat-card-content>
				<form #form="ngForm">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>
							<span translate>LABEL_FIRST_NAME</span>
						</mat-label>
						<input
							matInput
							[(ngModel)]="profileObj.firstName"
							#firstName="ngModel"
							name="firstName"
							placeholder="{{ 'PLACEHOLDER_FIRST_NAME' | translate }}"
							[disabled]="isLoading"
							required
						/>
					</mat-form-field>

					<mat-form-field appearance="outline" class="w-100">
						<mat-label>
							<span translate>LABEL_LAST_NAME</span>
						</mat-label>
						<input
							matInput
							[(ngModel)]="profileObj.lastName"
							#lastName="ngModel"
							name="lastName"
							placeholder="{{ 'PLACEHOLDER_LAST_NAME' | translate }}"
							[disabled]="isLoading"
							required
						/>
					</mat-form-field>
				</form>
			</mat-card-content>

			<mat-card-actions>
				<button
					mat-raised-button
					color="primary"
					[disabled]="isLoading || !form.valid"
					(click)="updateProfile()"
				>
				<span translate>LABEL_UPDATE</span>
			</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>