$primary-color: #995c31;
$secondary-color: #e0cec1;
$dark-color: #2A2221;

$primary-text-color: #1f120a;
$secondary-text-color: #ad7d5a;
$text-color-light: #ffffff;

$error-color: #ff4c3b;
$link-color: #5c371d;

$border-color: #f5efea;

$white: #ffffff;
$black: #000000;

$primary-button-color: #a36c46;
$chip-background: #f5efea;

$snackbar-success-color: #ad7d5a;
$snackbar-error-color: #ff4c3b;