<div class="">
	<div class="row d-flex justify-content-center m-0">
		<mat-card class="col-sm-12 col-md-6 col-lg-4 vc-box-shadow m-1">
			<mat-card-header class="text-center">
				<mat-card-title>
					<h2 translate>LABEL_FORGOT_PASSWORD</h2>
				</mat-card-title>
				<mat-card-subtitle>
					<mat-hint *ngIf="successMessage">{{ successMessage }}</mat-hint>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<form class="" #form="ngForm">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>
							<span translate>LABEL_EMAIL</span>/<span translate>LABEL_MOBILE</span>
						</mat-label>
						<input matInput
						type="text"
						#emailOrMobile="ngModel"
						[(ngModel)]="forgotPwdForm['emailOrMobile']"
						name="emailOrMobile"
						placeholder="{{ 'PLACEHOLDER_EMAIL_MOBILE' | translate }}"
						[disabled]="isLoading"
						required />
					</mat-form-field>
					</form>
				<mat-card-subtitle class="text-center">
					<mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
				</mat-card-subtitle>
				<mat-card-actions>
					<button
						class="w-100"
						mat-raised-button
						color="primary"
						(click)="submit()"
						[disabled]="!form.valid || isLoading"
						>
						<span translate>LABEL_SUBMIT</span>
					</button>
				</mat-card-actions>
			</mat-card-content>

			<mat-card-content>
				<span class="pr-1" translate>INFO_ALREADY_ACCOUNT</span>
				<a href="javascript:void(0)" routerLink="/login" translate>LABEL_LOGIN</a>
			</mat-card-content>
		</mat-card>
	</div>
</div>
