<div class="container section">
	<div class="row">

		<div class="col-lg-10 col-md-10 m-auto">
			<div class="vc-title-l pt-4">
				<span translate>LABEL_SELECT_DELIVERY_SLOT</span>
			</div>

			<div class="row pt-5">
				<vc-loader *ngIf="isLoading"></vc-loader>
				<mat-tab-group class="vc-slot">
					<mat-tab [label]="slot.day" *ngFor="let slot of slotList">
						<ng-template mat-tab-label>
							<div class="text-uppercase">{{ slot.day }}</div>
							<div>{{ slot.date }}</div>
						</ng-template>

						<mat-selection-list [multiple]="false" #lang (selectionChange)="updateSlot(lang.selectedOptions.selected)">
							<mat-list-option *ngFor="let l of slot.timings" [value]="l.key" class="border-top vc-title-m">
								{{ l.time }}
							</mat-list-option>
						</mat-selection-list>
					</mat-tab>
				</mat-tab-group>
			</div>

			<div class="text-center p-3">
				<button mat-raised-button color="primary" (click)="setSlot()" [disabled]="!selectedSlot">
					<span translate>LABEL_CONTINUE</span>
				</button>
			</div>
		</div>
	</div>
</div>
